{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - TrackEnd</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static "css/aos.min.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span>TrackEnd</span></a><button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler" data-bs-spy="scroll" data-bs-smooth-scroll="true"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" data-bss-hover-animate="pulse"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url "index" %}">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link nav-link" href="#features-page">Fonctionnalités</a></li>
                </ul><a class="btn btn-primary shadow" role="button" data-bss-hover-animate="pulse" href="{% url "login" %}">Connexion</a>
            </div>
        </div>
    </nav>
    <header class="bg-primary-gradient">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                    <div style="max-width: 450px;">
                        <p class="fw-bold text-success mb-2">ToDoList</p>
                        <h2 class="fw-bold">Votre To Do List à porter de main. Créer, supprimer et organiser vos tâches.</h2>
                        <p class="my-3">La meilleur solution pour organiser votre temps de manière simple et efficace.</p>
                        <form class="d-flex justify-content-center flex-wrap justify-content-md-start flex-lg-nowrap" method="post" data-bs-theme="light">
                            <div class="my-2 me-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email"></div>
                            <div class="my-2"><a class="btn btn-primary shadow" role="button" href="signup.html">S'inscrire</a></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div data-aos="fade-left" style="min-height: 300px;margin: 10px;" src="phone-screen.jpg" class="w-100 fit-cover"><img src="{% static "image/5.jpg" %}" width="300" height="469"></div>
                </div>
            </div>
        </div>
    </header>
    <section></section>
    <section></section>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto"><p id="features-page" class="fw-bold text-success mb-2">Fonction</p>
                    <h3 class="fw-bold">Que pouvez-vous Faire</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" data-aos="fade-right" style="max-width: 900px;">
                <div class="col mb-5"><img class="rounded img-fluid shadow" src="{% static "image/acceuil.jpg" %}" style="border-radius: 0px;"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="background: rgb(87,171,231);border-radius: 24px;">
                    <div>
                        <h5 class="fw-bold">Créer des tâches en quelques clic</h5>
                        <p class="text-muted mb-4">Créer des tâches et ajouter des échéances en quelques clic seulement.</p><a class="btn btn-primary shadow" role="button" href="login.html">Commencer</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" data-aos="fade-left" style="max-width: 900px;">
                <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow" height="532" width="426" src="{% static "image/supprimer.jpg" %}"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="background: #aceddd;border-radius: 17px;">
                    <div>
                        <h5 class="fw-bold">Supprimer des tâches&nbsp;</h5>
                        <p class="text-muted mb-4">Supprimer les tâches compléter ou encombrante et garder votre liste propre et organiser.</p><a class="btn btn-primary shadow" role="button" href="login.html">Commencer</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" data-aos="fade-right" style="max-width: 900px;">
                <div class="col mb-5"><img class="rounded img-fluid shadow" src="{% static "image/modifier.jpg" %}"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="background: #f3d5cc;border-radius: 16px;">
                    <div>
                        <h5 class="fw-bold">Modifier &amp; Mise à jour</h5>
                        <p class="text-muted mb-4">Modifier et mettez à jour l'état de vos tâches à tout moment comme vous le désirez.</p><a class="btn btn-primary shadow" role="button" href="login.html">Commencer</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" data-aos="fade-left" style="max-width: 900px;">
                <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow" height="532" width="426" src="{% static "image/notifications.jpg" %}"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5" style="background: #aceddd;border-radius: 17px;">
                    <div>
                        <h5 class="fw-bold">Recevez des notifications de rappel</h5>
                        <p class="text-muted mb-4">N'oubliez jamais de compléter une tâche grâce à notre fonction de notifications avancer.</p><a class="btn btn-primary shadow" role="button" href="login.html">Commencer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary-gradient"></footer>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/aos.min.js' %}"></script>
    <script src="{% static 'javascript/bs-init.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>

</body>

</html>